openapi: 3.0.3
info:
  title: Zircuit GUD Trading Engine API (Beta) Orders API
  version: v1
  description: The GUD Trading Engine is Zircuit's cross-chain trading infrastructure that aggregates liquidity across multiple blockchain networks and bridge protocols to return best-execution quotes and ready-to-sign transaction data. This OpenAPI description was generated by the API Evangelist enrichment pipeline from the provider's published REST documentation (https://docs.zircuit.com/infra/gud-trading-engine-beta/api-endpoint) and reflects the endpoint(s) documented there. The documentation notes that additional endpoints may exist that are not yet publicly detailed.
  x-generated-by: api-evangelist-enrichment
  x-source: https://docs.zircuit.com/infra/gud-trading-engine-beta/api-endpoint.md
  contact:
    name: Zircuit
    url: https://docs.zircuit.com/infra/gud-trading-engine-beta
servers:
- url: https://trading.ai.zircuit.com/api/engine/v1
  description: GUD Trading Engine (Beta)
security:
- bearerAuth: []
tags:
- name: Orders
  description: Trade estimates and cross-chain order execution data.
paths:
  /order/estimate:
    post:
      operationId: estimateOrder
      summary: Get a trade estimate
      description: Returns a trade estimate/quote and the transaction data required to execute a cross-chain trade. The response includes EIP-712 typed data for user signature and encoded transaction data that can be submitted directly from a wallet or signed for gasless relayer submission.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEstimateRequest'
      responses:
        '200':
          description: A trade estimate with signable transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEstimateResponse'
        '400':
          description: Invalid request parameters.
        '401':
          description: Missing or invalid API key.
        '422':
          description: No route/liquidity available for the requested trade.
        '429':
          description: Rate limit exceeded.
        '500':
          description: Internal error.
components:
  schemas:
    OrderEstimateResponse:
      type: object
      properties:
        tradeId:
          type: string
          description: Unique trade identifier.
        destTokenAmount:
          type: string
          description: Expected output amount on the destination chain.
        destTokenMinAmount:
          type: string
          description: Minimum acceptable output after slippage.
        eip712:
          type: object
          description: EIP-712 typed data for the user to sign.
        tx:
          type: object
          description: Encoded transaction data for execution.
    OrderEstimateRequest:
      type: object
      required:
      - srcChainId
      - srcToken
      - srcAmountWei
      - destChainId
      - destToken
      - slippageBps
      - userAccount
      - destReceiver
      properties:
        srcChainId:
          type: integer
          description: Originating blockchain identifier.
        srcToken:
          type: string
          description: Source token contract address.
        srcAmountWei:
          type: string
          description: Amount of source token, in wei.
        destChainId:
          type: integer
          description: Destination blockchain identifier.
        destToken:
          type: string
          description: Destination token contract address.
        slippageBps:
          type: integer
          description: Acceptable slippage tolerance, in basis points.
        userAccount:
          type: string
          description: Trader's wallet address.
        destReceiver:
          type: string
          description: Receiving address on the destination chain.
        feeRecipient:
          type: string
          description: Optional fee-collection address on the source chain.
        feeBps:
          type: string
          description: Optional fee percentage, in basis points.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as an HTTP Bearer token. Keys are provisioned by the Zircuit team (and shared at hackathons); contact the team to obtain one.
